/* html {
font-size: 20px;
} */

* {
    box-sizing: border-box;
    /* background-color: aqua; */
}

body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    justify-content: center;
    background-image: url("../../src/backgrounds/gradient1.avif");
}

h1 {
    text-align: center;
    margin: 1em auto;
}

input::placeholder {
    font-size: medium;
}

.text-input {
    width: 14rem;
}

.max-score,
.group-size {
    width: 8rem;
    margin-left: 1rem;
}


.input-textarea {
    width: min(28rem, 100%);
}

.output-textarea {
    width: 100%;
}

.block-label {
    display: block;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content-container {
    justify-content: center;
    margin: 2%;
    box-shadow: 3px 4px 4px 4px rgba(128, 128, 128, 0.265);
    background-color: rgba(255, 240, 249, 0.936);
}


.left-input>div,
.additional-details-container>div {
    flex-basis: 40%;
    flex-grow: 0;
    margin: 0.5rem 1rem 1rem 2rem;

}

.left-input,
.additional-details-container,
.textareas-container {
    flex: 1 1 50%;
    margin-top: 2rem;
}

.additional-details-container {
    flex-direction: column;
}

.input-container {
    flex: 2 1 auto;
    max-width: 70rem;
    justify-content: flex-start;
}

.output-container {
    flex: 1 1 50%;
    margin: 3rem 2rem;
    max-width: 20rem;
    justify-content: right;
}

.output-text-container,
.output-btn-container {
    width: 100%;
}

.group-container {
    flex-direction: column;
    min-width: 14rem;
}

.textareas-container {
    justify-content: center;
    margin-top: 2rem;
}

.learning-objectives-container,
.additional-requirements-container {
    width: max(46%, 20rem);
    margin: auto;
}

.generate-btn {
    width: min(30rem, 100%);
}

.copy-btn,
.clear-all-btn {
    width: 50%;
}