/* html {
    font-size: 20px;
} */

* {
    box-sizing:border-box;
    /* background-color: aqua; */
}

body {
    max-width: 1920px;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

h1 {
    text-align: center;
}

.input-textarea {
    width: min(28rem,100%);
}

.output-textarea{
    width:100%;
}

.block-label {
    display:  block;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content-container {
 margin: 0 auto;
 justify-content: center;
}


.left-input > div {
    flex-basis: 45%;
    flex-grow: 0;
    margin-left: 1rem;
}

.left-input, .textareas-container{
    flex: 1 1 50%;
}

.input-container {
    flex: 2 1 auto;
    max-width: 65rem;
    justify-content: flex-start;
}

/* .input-container > div {
    max-width: 30rem;
} */

.output-container {
    flex: 1 2 auto;
    flex-direction: column;
    margin:auto;
    max-width: 24rem;
    justify-content: center;
}

.output-text-container{
    width: 90%;
}

.group-container{
    flex-direction: column;
}

.textareas-container {
    justify-content: center;
}

.learning-objectives-container, .additional-requirements-container {
    width: max(46%,20rem);
    margin: auto;
}