/* html {
font-size: 20px;
} */

* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    justify-content: center;
    background-image: url("../src/backgrounds/gradient2.avif");
    background-size:cover;
}

h1 {
    text-align: center;
    margin: 1em auto;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.42);
    -webkit-text-stroke: 3px #bcbcbc89;
}

input::placeholder {
    font-size: medium;
}

.text-input {
    width: 14rem;
}

.max-score,
.group-size {
    margin-left: 1rem;
}

.max-score{
    width: 7rem;
}

.group-size{
    width: 10.5rem;
}


.input-textarea {
    width: min(28rem, 100%);
}

.output-textarea {
    width: 100%;
}

.block-label {
    display: block;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content-container {
    justify-content: center;
    margin: 4%;
    border-radius: 16px;
    box-shadow: 3px 4px 4px 4px rgba(128, 128, 128, 0.265);
    background-color: rgba(255, 255, 255, 0.7);
}


.left-input>div,
.additional-details-container>div {
    flex-basis: 40%;
    flex-grow: 0;
    margin: 0.5rem 1rem 1rem 2rem;

}

.left-input,
.additional-details-container,
.textareas-container {
    margin-top: 1rem;
}

.left-input{
    flex: 1 1 50%;
}

.additional-details-container {
    flex-direction: column;
    flex: 1 1 25%;
}

.textareas-container{
    flex: 1 1 50%;
}

.input-container {
    flex: 2 1 auto;
    max-width: 62rem;
    justify-content: flex-start;
}

.output-container {
    flex: 1 1 50%;
    margin: 3rem 2rem;
    max-width: 24rem;
    justify-content: right;
}

@media only screen and (max-width: 1366px) {
    .output-container{
        max-width:max(80%,900px);
    }
    .output-textarea{
        max-height: 16rem;
    }
}

.output-text-container,
.output-btn-container {
    width: 100%;
}

.group-container {
    flex-direction: column;
    min-width: 14rem;
}

.textareas-container {
    justify-content: center;
}

.learning-objectives-container,
.additional-requirements-container {
    width: max(46%, 20rem);
    margin: auto;
}

.generate-btn {
    width: 100%;
}

.copy-btn,
.clear-all-btn {
    width: 50%;
}

.navbar-brand {
margin-left:3%
}

.nav-right{
    margin-right:3%
}

