* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    background-image: url("../src/backgrounds/gradient2.avif");
    background-size:cover;
}

h1 {
    text-align: center;
    margin: 1em auto;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.42);
    -webkit-text-stroke: 3px #bcbcbc89;
}


/*Grid*/
.grid-wrapper{
    display: grid;
}

.content-container {
    justify-content: center;
    margin: auto 4%;
    border-radius: 16px;
    box-shadow: 3px 4px 4px 4px rgba(128, 128, 128, 0.265);
    background-color: rgba(255, 255, 255, 0.7);
    padding:32px;
}

.content-container, .top-input-container{
    grid-template-columns: 2fr 1fr;
}


.left-input, .textareas-container, .half-grid{
    grid-template-columns: 1fr 1fr;
}

/*Grid Gaps*/
.input-container, .collapse-half-grid, .top-input-container, .left-input, .additional-details-container, .textareas-container, .content-container{
    column-gap: 40px;
    row-gap: 28px;
}


input::placeholder {
    font-size: medium;
}

.text-input, .input-textarea {
    width: 100%;
}

.max-score{
    width: 7rem;
}

.group-size{
    width: 10.5rem;
}

.block-label {
    display: block;
}


.group-container {
    flex-direction: column;
    min-width: 14rem;
}

.output-container,
.output-textarea,
.output-text-container,
.output-btn-container,
.generate-btn,
.copy-btn,
.clear-all-btn {
    width: 100%;
}

.navbar-brand {
    margin-left:3%
}

.nav-right{
    margin-right:3%
}

/*Media*/

@media only screen and (max-width: 1375px) {
    .content-container{
        grid-template-columns: 1fr;
    }
    .output-textarea{
        max-height: 14rem;
    }
}

@media only screen and (max-width: 920px){
    .top-input-container{
        grid-template-columns: 1fr;
    }
    .collapse-half-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 610px){
    .left-input,
    .collapse-half-grid,
    .textareas-container{
        grid-template-columns: 1fr;
    }
}